@import "../bourbon/bourbon";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$padding: 2em 4em;
$primary: #ea1f23;
$active: #242428;
$sidemenu: #2c2c30;
$width: 400px;
$inset: 8px;
$header: 84px;
$logout: 120px;
$font: 'Montserrat', sans-serif;
$textcolor: #63636b;

@include keyframes(slideIn) {
    0% {
        box-shadow: inset 0 0 0 0 $primary;
    }
    100% {
        box-shadow: inset $inset 0 0 0 $primary;
    }
}

.uportal-head14-bold {
    color: red!important;
}

body {
    margin-left: 10+$width!important;
}

body, .uportal-background-content, #lw {
    background-color: #f7f7f7!important;
}

.uportal-text, .uportal-channel-text, .uportal-head14-bold, .uportal-channel-subtitle, #lw {
    font-family: $font!important;
}

ul {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

.mylogo {
    position: fixed;
    text-align: center;
    color: #fff;
    font-family: $font;
    width: $width;
    height: $header;
    line-height: $header;
    background-color: $primary;
    left: 0;
    top: 0;
}

.heading {
    position: fixed;
    left: $width;
    height: $header;
    top: 0;
    right: $logout;
    background: #fff;
    li {
        list-style: none;
        display: inline-block;
        img {
            display: none;
        }
        a {
            span {
                display: block;
                line-height: $header;
                font-family: $font;
                font-size: 14px;
                font-weight: 300;
                color: $textcolor;
                padding: 0 2em;
                text-transform: uppercase;
            }
        }
    }
    a {
        img {
            display: none;
        }
    }
    .logout {
        position: fixed;
        width: $logout;
        padding: 0;
        right: 0;
        top: 0;
        background: #e8e8e8;
    }
    .user {
        float: right;
        span {
            font-family: $font;
            font-size: 14px;
            font-weight: 300;
            line-height: $header;
            padding: 0 2em;
            color: $textcolor;
            display: block;
        }
    }
}

#tabs_tda {
    background: $sidemenu;
    height: 100%;
    position: fixed;
    left: 0;
    top: $header;
    .nav {
        padding-top: 3em;
    }
    tr {
        width: $width;
        overflow: hidden;
    }
    li {
        list-style: none;
        width: $width;
    }
    a {
        background: $sidemenu;
        padding: $padding;
        display: block;
        color: #fff;
        font-weight: 300;
        font-size: 16px;
        font-family: $font;
    }
}

div {
    &.tabon, &.taboff {
        padding: 0;
    }
    &.tabon {
        a {
            background: $active!important;
            box-shadow: inset $inset 0 0 0 $primary;
        }
    }
    &.taboff {
        a:hover {
            @include animation( slideIn 0.2s forwards );
        }
    }
}
