@import "../bourbon/bourbon";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$padding: 2em 4em;

$primary: #ea1f23;
$textcolor: #63636b;
$active: #242428;
$sidemenu: #2c2c30;
$border: #e4e4e4;

$width: 380px;
$inset: 8px;
$header: 84px;
$logout: 130px;

$font: 'Montserrat', sans-serif;

@include keyframes(slideInLeft) {
    0% {
        box-shadow: inset 0 0 0 0 $primary;
    }
    100% {
        box-shadow: inset $inset 0 0 0 $primary;
    }
}
@include keyframes(slideInUp) {
    0% {
        box-shadow: inset 0 0 0 0 $primary;
    }
    100% {
        box-shadow: inset 0 (-$inset) 0 0 $primary;
    }
}

.uportal-head14-bold {
    color: $primary!important;
}

*::selection {
    background: $primary;
    color: #fff;
}

html {
    opacity: 1;
}

body.main {
    margin-left: 20+$width!important;
    margin-right: 20px!important;
}

body, .uportal-background-content {
    background-color: #f7f7f7!important;
}

.uportal-text, .uportal-channel-text, .uportal-head14-bold, .uportal-channel-subtitle, #lw, a, .Taupe {
    font-family: $font!important;
}

ul {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

// Login styling
html {
    height: 100%;
}
.login {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    text-align: center;
    * {
        box-sizing: border-box;
    }
    #wrap {
        background: transparent;
    }
    #main, #sidebar, #footer {
        display: none;
    }
    .new-login {
        width: 350px;
        margin: 0 auto;
        @include display(flex);
        @include flex-direction(column);
        &::before, &::after {
            content: "";
            @include flex-grow(1);
        }
        position: absolute;
    	height: 100%;
        left: 50%;
    	transform: translateX(-50%);
    }
    img {
        padding-bottom: 4em;
    }
    input {
        padding: 1em;
        font-family: Montserrat, sans-serif;
        width: 100%;
        border-radius: 4px;
        border: 1px solid rgb(196, 196, 196);
        margin-bottom: 10px;
    }
    button {
        padding: 1em;
        font-family: Montserrat, sans-serif;
        width: 100%;
        border-radius: 4px;
        background-color: $primary;
        border: none;
        color: #fff;
        margin: 20px 0;
        cursor: pointer;
        transition: 0.3s all;
        &:focus {
            outline: none;
        }
        &:hover {
            background: darken($primary, 10);
        }
    }
    li {
        list-style: none;
    }
    a {
        color: #fff;
    }
    .footer-links {
        position: absolute;
        bottom: 20px;
        left: 20px;
        li {
            display: inline-block;
            padding-right: 2em;
            text-transform: uppercase;
        }
    }
}
// All navigation menus
.mylogo {
    position: fixed;
    text-align: center;
    color: #fff;
    font-family: $font;
    width: $width;
    height: $header;
    line-height: $header;
    background-color: $primary;
    left: 0;
    top: 0;
    img {
        width: 80%;
        height: auto;
        margin: 0 auto;
        padding-top: 13px;
    }
}

.heading {
    position: fixed;
    left: $width;
    height: $header;
    top: 0;
    right: $logout;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid $border;
    ul {
        padding-left: 1em;
    }
    li {
        list-style: none;
        display: inline-block;
        img {
            display: none;
        }
        a {
            span {
                display: block;
                line-height: $header;
                font-family: $font;
                font-size: 14px;
                font-weight: 300;
                color: $textcolor;
                padding: 0 2em;
                text-transform: uppercase;
            }
        }
    }
    a {
        img {
            display: none;
        }
        &:hover, &:visited {
            text-decoration: none;
        }
    }
    .logout {
        position: fixed;
        width: $logout;
        padding: 0;
        right: 0;
        top: 0;
        background: #e8e8e8;
        border-bottom: 1px solid $border;
    }
    .user {
        float: right;
        span {
            font-family: $font;
            font-size: 14px;
            font-weight: 300;
            line-height: $header;
            padding-right: 1em;
            color: $textcolor;
            display: block;
        }
    }
    a .secondary {
        &:hover {
            @include animation( slideInUp 0.2s forwards );
        }
        .fa {
            color: $primary;
            padding-right: 0.75em;
        }
    }
    a .sreduce > .fa {
        display: none;
    }
    .search {
        padding-left: 2em;
    }
    input {
        background: #fafafa;
        border: 1px solid #fff;
        border-radius: 99px;
        padding: 1.2em 4em 1.2em 2.5em;;
        font-family: $font;
        &:focus {
            outline: none;
            border: 1px solid $border;
        }
    }
}

#tabs_tda {
    background: $sidemenu;
    height: 100%;
    position: fixed;
    left: 0;
    top: $header;
    bottom: 0;
    .nav {
        padding-top: 3em;
        .fa {
            padding-right: 1em;
            font-size: 20px;
        }
    }
    tr {
        width: $width;
        overflow: hidden;
    }
    li {
        list-style: none;
        width: $width;
    }
    a {
        background: $sidemenu;
        padding: $padding;
        display: block;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        font-family: $font;
    }
    .credits {
        text-align: center;
        font-size: 10px;
        width: $width;
        opacity: 0.2;
        color: #fff;
        font-family: $font;
        position: fixed;
        bottom: 20px;
        a {
            text-decoration: underline;
            padding: 0;
            background-color: transparent;
            width: auto;
            font-size: 10px;
            display: inline-block;
        }
    }
}

div {
    &.tabon, &.taboff {
        padding: 0;
    }
    &.tabon {
        a {
            background: $active!important;
            box-shadow: inset $inset 0 0 0 $primary;
        }
    }
    &.taboff {
        a:hover {
            @include animation( slideInLeft 0.2s forwards );
        }
    }
}

// Tables
.bgmlight, .bg3, .bgtabon, .cpdate {
    display: none;
}

.border {
    border: 1px solid $border;
    table {
        background-color: #fff;
        color: $primary;
        padding: 1.5em;
        width: 100%;
    }
    .fa {
        font-size: 14px;
        padding: 0 4px;
        color: #d8d8d8;
    }
    .uportal-background-content {
        background-color: #fff!important;
    }
}

.vrule {
    img {
        width: 20px;
    }
}

// Viewport render fixes
@media screen and (max-width: 1700px) {
    .heading {
        .user span, li a span {
            font-size: 12px;
        }
        li a span {
            padding: 0 1em;
        }
        .search {
            padding-left: 1em;
            input {
                padding: 1.2em;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .search {
        padding-left: 0;
    }
}
@media screen and (max-width: 1360px) {
    .mylogo {
        width: 0.75*$width;
        img {
            padding-top: 20px;
        }
    }
    #tabs_tda {
        tr, li {
            width: 0.75*$width;
        }
        a {
            padding: 2em;
            font-size: 12px;
        }
        .credits {
            width: 0.75*$width;
        }
    }
    .heading {
        left: 0.75*$width;
        li {
            a {
                span {
                    font-size: 12px;
                }
            }
        }
    }
    body.main {
        margin-left: 20+$width*0.75!important;
    }
    .credits {
        width: 0.75*$width;
    }
}
